@import "../../../public/fonts/silkscreen.css";

.container {
  display: flex;
  flex-direction: row;
}

.title {
 font-family: silkscreen; 
 font-weight: normal;
 font-size: 7vmin;
 white-space: pre;
 color: white;
 z-index: 100;
 text-shadow: 0 0 10px #000;
}

.subtitle {
  font-family: silkscreen;
  font-size: 2vmin;
  color: white;
}

.cloud {
  image-rendering: pixelated;
  width: 300px;
  height: 150px;
  position: absolute;
}


